<section id="contact">
  <div class= "container">
    <h2 class="text-center section-heading">Contact Us</h2>
    <footer class="footer-distributed">

  			<div class="footer-left col-md-6">

  				<h3>Email</h3>
          <form action="#" method="post">

            <input type="text" name="email" placeholder="Email" />
            <textarea name="message" placeholder="Message"></textarea>
            <button>Send</button>
          </form>
            <div class="footer-icons">
            <a href="https://www.facebook.com/SwahiliBox/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/SwahiliBox" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company-beta/9215703/" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github" target="_blank"></i></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; SWAHILI BOX 2017</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
