<%= link_to 'home', pages_controller_home_path %>
<div class="col-md-4">
  <div class="thumbnail .b-from-left .b-animate">
    <a class="image" href="/assets/pictures/nama1.jpg" target="_blank">
      <img src="/assets/pictures/nama1.jpg" style="width:100%">
      <div class="caption"></div>
  </div>
  </a>  <div class="col-md-4">
      <div class="thumbnail .b-from-left .b-animate">
        <a class="image" href="/assets/pictures/nama1.jpg" target="_blank">
          <img src="/assets/pictures/nama1.jpg" style="width:100%">
          <div class="caption"></div>
      </div>
      </a>
