  <section id="blog">
  <div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Blog</h2>
        <h3 class="section-subheading text-muted">Our recent blogs</h3


      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <%= image_tag ('') %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2009-2011</h4>
                <h4 class="subheading">Our Humble Beginnings</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
              </div>
            </div>
          </li>
            <li class="timeline-inverted">
          <!---  <div class="timeline-image"> -->
  <img src="assets/Pwani.jpg" class="center-block img-responsive img-thumbnail" width="350" height="350" >
         <!--   </div>  -->
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>March 2011</h4>
                <h4 class="subheading">Change is Born</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
              </div>
            </div>
          </li>
          <li>
         <!---   <div class="timeline-image"> -->
  <img src="assets/img3.jpg" class="center-block img-responsive img-thumbnail" width="350" height="350" >
          <!--- </div> -->
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>December 2012</h4>
                <h4 class="subheading">Transition to Full Time Tech Hub</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
  <!--          <div class="timeline-image">  -->
  <img src="assets/sbox1.jpg" class="center-block img-responsive img-thumbnail" width="350" height="350" >
          <!--  </div> -->
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>July 2014</h4>
                <h4 class="subheading">Phase Two Expansion</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>For
                <br>More
                <br>Blogs</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="parallax">
  <section id="Partners">
      <h2 class="text-center" style="text-align: center; margin-top: 50px; margin-bottom: 50px;">Our Splendid Partners</h2>
</div>
    <div class="heading-title text-center">
    <span class="p-top-30 half-txt">This presents some of our patners. </span></br>
  </div>
<div class="container">
  <img src="assets/pictures/doen.jpg" width="80" height="80">
  <img src="assets/pictures/hivos.png" width="80" height="80">
  <img src="assets/pictures/partner_01.jpg" width="130" height="130">
  <img src="assets/pictures/partner_02.jpg" width="130" height="130">
  <img src="assets/pictures/partner_03.png" width="130" height="130">
  <img src="assets/pictures/partner_04.png" width="130" height="130">
  <img src="assets/pictures/partner_05.png" width="130" height="130">
  <img src="assets/pictures/partner_06.png" width="130" height="130">
  <img src="assets/pictures/partner_07.jpg" width="130" height="130">
  <img src="assets/pictures/partner_08.png" width="130" height="130">
  <img src="assets/pictures/partner_09.jpg" width="130" height="130">
  <img src="assets/pictures/partner_10.jpg" width="130" height="130">
  <img src="assets/pictures/partner_11.png" width="130" height="130">
  <img src="assets/pictures/partner_12.jpg" width="130" height="130">
  <img src="assets/pictures/partner_13.jpg" width="130" height="130">
  <img src="assets/pictures/partner_14.png" width="130" height="130">
  <img src="assets/pictures/partner_15.png" width="130" height="130">
  <img src="assets/pictures/partner_16.png" width="130" height="130">
  <img src="assets/pictures/partner_17.png" width="130" height="130">
  <img src="assets/pictures/partner_18.png" width="130" height="130">
  <img src="assets/pictures/partner_19.png" width="130" height="130">
  <img src="assets/pictures/partner_20.png" width="130" height="130">
</div>
</section>
<div class="parallax">
<section id="gallery">
      <h2 class="text-center" style="text-align: center; margin-top: 50px; margin-bottom: 50px;">Gallery</h2>
</div>

<div class="container">
<p style="text-align: center;">Click on the images to enlarge them.</p>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/assets/pictures/nama 3.jpg" target="_blank">
        <img src="/assets/pictures/nama 3.jpg" style="width:100%">
        <div class="caption"></div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/assets/pictures/nama 2.jpg" target="_blank">
        <img src="/assets/pictures/nama 2.jpg" style="width:100%">
        <div class="caption"></div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/assets/pictures/nama1.jpg" target="_blank">
        <img src="/assets/pictures/nama1.jpg" style="width:100%">
        <div class="caption"></div>
      </div>
    </a>
    <div>
      <a href="#" class="btn btn-info" role="button">CLICK FOR MORE</a>
    </div>
  </div>
</div>
</div>
</div>
</section>

<div class="parallax2">
<section id="team">
      <h2 class="text-center" style="text-align: center; margin-top: 50px; margin-bottom: 50px;">Meet the Team</h2>
</div>

<div class="container">
<div class="container">
<div class="row">
  <div class="heading-title text-center">
    <p class="p-top-30 half-txt">This presents some of our team officials.
    </p>
  </div>

  <div class="col-md-4">
    <div class="team-member">
      <img src="assets/ahmed 2.jpeg" class="img-circle" alt="Cinque Terre" width="304" height="236">
      <div class="team-hover">
        <div class="desk">
          <h4>Ahmed Maawy</h4>
          <p>Executive Director</p>
        </div>
        <div class="s-link">
          <a href="#">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fa fa-google-plus"></i>
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4 col-sm-4">
    <div class="team-member">
      <img src="/assets/alysalim 1.jpeg" class="img-circle" alt="Cinque Terre" width="304" height="236">
      <div class="team-hover">
        <div class="desk">
          <h4>Aly Salim</h4>
          <p>Deputy Executive Director</p>
        </div>
        <div class="s-link">
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fa fa-google-plus"></i>
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4 col-sm-4">
    <div class="team-member">
      <img src="assets/ajra 3.jpeg" class="img-circle" alt="Cinque Terre" width="304" height="236">
      <div class="team-hover">
        <div class="desk">
          <h4>Ajra Abdullatif</h4>
          <p>Director of Community Engagement</p>
        </div>
        <div class="s-link">
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fa fa-google-plus"></i>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>

</div>
</div>
</div>
</div>
</section>


<div class="parallax3"></div>
<section id="success stories">
  <h2 class="text-center" style="text-align: center; margin-top: 50px; margin-bottom: 50px;">success stories</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
            <a href="/assets/pictures/nama1.jpg" target="_blank">
<img src="/assets/pictures/nama1.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
<p>paragraph</p>
</div>
</div>
<div class="col-md-4">
  <div class="thumbnail">
      <a href="/assets/pictures/nama1.jpg" target="_blank">
<img src="/assets/pictures/nama1.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
<p>paragraph</p>
</div>
</div>
<div class="col-md-4">
  <div class="thumbnail">
      <a href="/assets/pictures/nama1.jpg" target="_blank">
<img src="/assets/pictures/nama1.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
<p>paragraph</p>
</div>
  </div>
  </div>
</div>
</section>
