<!DOCTYPE html>
<html lang="en">
<head>
  <title>SwahiliBox</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SwahiliBox</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="Gallery.html.erb">Gallery</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Meet the team</a></li>
      <li><a href="#">Contact us</a></li>

    </ul>
  </div>
</nav>

<div class="container">


</div>
<div class="container">
  <h2>Image Gallery</h2>

  <p>Click on the images to enlarge them.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/assets/pictures/nama 3.jpg" target="_blank">
          <img src="/assets/pictures/nama 3.jpg"style="width:100%">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/assets/pictures/nama 2.jpg" target="_blank">
          <img src="/assets/pictures/nama 2.jpg" style="width:100%">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/assets/pictures/nama 1.jpg" target="_blank">
          <img src="/assets/pictures/nama.jpg" style="width:100%">
          <div class="caption">
          </div>
        </a>
        <div>
        <a href="#">click for more</a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>




</body>
</html>
<div class="container">
  <h1>Meet The Team</h1>
  <div class="container">
                      <div class="row">
                          <div class="heading-title text-center">
                              <p class="p-top-30 half-txt">This presents some of our team officials. </p>
                          </div>

                          <div class="col-md-4">
                              <div class="team-member">
                                   <img src="assets/ahmed 2.jpeg" class="img-circle" alt="Cinque Terre" width="304" height="236">
                                  <div class="team-hover">
                                      <div class="desk">
                                          <h4>Ahmed Maawy</h4>
                                          <p>Executive Director</p>
                                      </div>
                                      <div class="s-link">
                                          <a href="#"><i class="fa fa-facebook"></i></a>
                                          <a href="#"><i class="fa fa-twitter"></i></a>
                                          <a href="#"><i class="fa fa-google-plus"></i></a>
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <div class="col-md-4 col-sm-4">
                              <div class="team-member">
                                   <img src="/assets/alysalim 1.jpeg" class="img-circle" alt="Cinque Terre" width="304" height="236">
                                  <div class="team-hover">
                                      <div class="desk">
                                          <h4>Aly Salim</h4>
                                          <p>Deputy Executive Director</p>
                                      </div>
                                      <div class="s-link">
                                          <a href="#"><i class="fa fa-facebook"></i></a>
                                          <a href="#"><i class="fa fa-twitter"></i></a>
                                          <a href="#"><i class="fa fa-google-plus"></i></a>
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <div class="col-md-4 col-sm-4">
                              <div class="team-member">
                                   <img src="assets/ajra 3.jpeg" class="img-circle" alt="Cinque Terre" width="304" height="236">
                                  <div class="team-hover">
                                      <div class="desk">
                                          <h4>Ajra Abdullatif</h4>
                                          <p>Director of Community Engagement</p>
                                      </div>
                                      <div class="s-link">
                                          <a href="#"><i class="fa fa-facebook"></i></a>
                                          <a href="#"><i class="fa fa-twitter"></i></a>
                                          <a href="#"><i class="fa fa-google-plus"></i></a>
                                      </div>
                                  </div>
                              </div>

                          </div>

                      </div>

                  </div>
                        </div>

                    </div>

                </div>


</body>
</html>
