<!DOCTYPE html>
<html lang="en">
<head>
  <title>SwahiliBox</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag('bootstrap', :media => 'all') %>
  <%= stylesheet_link_tag('font-awesome', :media => 'all') %>
  <%= stylesheet_link_tag('agency', :media => 'all') %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <body id="page-top" class="index">
    <nav id="mainNav" class="navbar navbar-default navbar-inverse navbar-custom navbar-fixed-top" > <!--change to <nav class="navbar navbar-default" class="navbar navbar-inverse"> -->
      <div class="container-fluid">
        <div class="navbar-header page-scroll ">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
        <a class="navbar-brand" href="#"></a>
        </div>
        <a class="navbar-brand" href="#">SwahiliBox</a>
          <ul class="nav navbar-nav navbar-right navbar-fixed">
          <li class="hidden"><a href="#page-top"></a></li>
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#about">About us</a></li>
          <li><a class="page-scroll" href="#blog">Blog</a></li>
          <li><a class="page-scroll" href="#gallery">Gallery</a></li>
          <li><a class="page-scroll" href="#team">Meet the team</a></li>
          <li><a class="page-scroll" href="#contact">Contact us</a></li>
        </ul>
      </div>

    </nav>
      <header>
        <div>
        <video width="1300" height="700" controls>
  <source src="/assets/nama.mp4" type="video/mp4">


</video>
</div>
      </header>
      <section id="about">
          <div class="container">
            <p> SwahiliBox is a project of M-power(CBO).THe technology open space in Mombasa,Kenya which focuses on socio-economic technology empowerment,inpiring and developing individualsand help them develop new and innovative ideas through networking,access to training,support,proffesional mentoring and coaching. It brings together investors,donors,entrepreneurs,experts,artists, and other individuals and provide them with an opportunity to share knowledge,learn,find mentors and expound on their talents,abilities and innnovative ideas that will lead to the development of Kenya and globally at large.</p>
          </div>
      </section>
<body>
<div class="container" id="gallery">
  <h2> Gallery</h2>
  <p>Click on the images to enlarge them.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/assets/pictures/nama 3.jpg" target="_blank">
          <img src="/assets/pictures/nama 3.jpg"style="width:100%">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/assets/pictures/nama 2.jpg" target="_blank">
          <img src="/assets/pictures/nama 2.jpg" style="width:100%">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/assets/pictures/nama1.jpg" target="_blank">
          <img src="/assets/pictures/nama1.jpg" style="width:100%">
          <div class="caption">
          </div>
        </a>
        <div>
        <a href="#">click for more</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

    </html>
