
<section id="Gallery">
    <div class="container">
      <div class="center">
        <div class="col-md-6  col-md-offset-3">
          <h2>Gallery</h2>
          <hr>
        </div>
      </div>
    </div>

        <div class="container">
        <div class="row">
          <div class="portfolio-items">
 <% @images.each do |image| %>
            <div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
               <img><%= raw(image.body) %></img>
                <div class="overlay">
                  <div class="recent-work-inner">

                  </div>
                </div>
              </div>
            </div><!--/.portfolio-item-->
 <% end %>
      <% if admin_signed_in? %>
        <%= link_to "Show", post_path(post), class: "btn btn-primary" %>
        <%= link_to "Edit", edit_post_path(post), class: "btn btn-default" %>
        <%= link_to "Delete", post_path(post), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete %>
      <% end %>
      <hr />
          </div>
        </div>
      </div>
    </div>
    </section><!--/#portfolio-item-->
