<div class="container">
<div class="row">
  <div class="col-md-3">

      <img src="/assets/image/a.jpg" width="300" height="200">
          </div>
          <div class="col-md-3">
      <img src="/assets/image/b.jpg" width="300" height="200">
          </div>
          <div class="col-md-3">
      <img src="/assets/image/c.jpg" width="300" height="200">
          </div>
          <div class="col-md-3">
      <img src="/assets/image/d.jpg" width="300" height="200">

    </div>
  </div>
  </div>
